<!DOCTYPE html>
<html>
<head>
    <title>Meal to Gate</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
</head>

<div class="container">

    <div class="page-header text-center">
        <h3>Restaurant Profile</h3>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="col-sm-6">
      <h1>ORDERS</h1>
      <p>Keep track of your orders</p>
      <button type="button" name="button">Accept</button>
      <button type="button" name="button">Order Complete</button>
      <form action="/restprofile" method="post">
<h1></h1>
